@import "../../../../assets/styles/typography";
@import "../../../../assets/styles/extensions";

.text-area {

    &__element {
        @extend %base-input;
        resize: vertical;
        max-height: 300px;
        min-height: 100px;

        &:focus {
            border: 1px solid lighten($green, 5%);
            outline: 1px solid $green;
        }
    }
}
